body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db; 
    padding: 10px 20px; 
    color: #fff; 
}

.logo img {
    height: 40px; 
    width: auto;
}

.user img {
    height: 40px; 
    width: auto;
    border-radius: 50%; 
}