*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
:root{
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
    --primary-color: #edf2fc;
    --secondary-color: #212121;  
}



body{
    background: var(--body-color);
    transition: background 0.3s;
}

.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  background-color: #1876f2;

}